/* هدول أنا أضفتهن */

.my-orders .order-container {
margin-bottom: 64px;
}
  
.my-orders .order-header {
background: #F6F6F6;
border: 1px solid #DDDDDD;
padding: 14px;
display: flex;
align-items: center;
justify-content: space-between;

}

.my-orders .order-books {
background: white;
border: 1px solid #DDDDDD;
border-top: none;
padding: 14px;;
}

.my-orders .order-header-items {
display: flex;
}

.my-orders .order-header-items div {
margin-right: 14px;
}

.my-orders .order-book-item {
display: flex;
margin: 32px 0;
}

.my-orders .order-book-item img {
max-width: 140px;
margin-right: 24px;
}

.uppercase {
text-transform: uppercase;
}

.font-bold {
font-weight: bold;
}

.books-header {
display: flex;
justify-content: space-between;
}

.my-profile label {
display: block;
}

.my-profile .form-control {
margin-bottom: 30px;
}

.my-profile input {
border: 1px solid #919191;
padding: 16px 10px;
border-radius: 5px;
width: 66.6%;
font-size: 14px;
}

.my-profile .my-profile-button {
background: #212121;
color: #e9e9e9;
border-radius: 5px;
padding: 12px 50px;
}

.my-profile .my-profile-button:hover {
background: #3b3b3b;
}


h1.stylish-heading {
margin-bottom: 60px;
position: relative;
}

h1.stylish-heading:before,
h1.stylish-heading:after {
position: absolute;
top: -4px;
left: 0;
width: 66px;
height: 1px;
background: #212121;
content: "";
display: block;
}

h1.stylish-heading:after {
bottom: -14px;
top: auto;
}

.books-section {
display: grid;
grid-template-columns: 1fr 3fr;
margin: 80px auto 80px;
}

.books-section .sidebar li.active {
font-weight: 500;
}

.books-section .books {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 60px 30px;
}

.books-section .books .product-price {
color: #919191;
}

.container {
margin: auto;
max-width: 1200px;
}

.spacer {
    margin-bottom: 30px;
  }